<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958705411422-tvaglg8gqi792810ph02o1j5329vcegu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958705411422-tvaglg8gqi792810ph02o1j5329vcegu</string>
	<key>API_KEY</key>
	<string>AIzaSyD4WPc3mmnbBvYEvQV3oJMPLwMsodah3L0</string>
	<key>GCM_SENDER_ID</key>
	<string>958705411422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>S.TravelApp-1</string>
	<key>PROJECT_ID</key>
	<string>travelapp1-ad4c4</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp1-ad4c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958705411422:ios:da4685f0a9fb9df3461bcf</string>
	<key>DATABASE_URL</key>
	<string>https://travelapp1-ad4c4.firebaseio.com</string>
</dict>
</plist>